$govuk-new-link-styles: true;

@import "../../../node_modules/govuk-frontend/govuk/all";

.information-box {
  margin-bottom: govuk-spacing(4);
  padding: govuk-spacing(3);
  background: govuk-colour("light-grey");
  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(6);
    margin-top: govuk-spacing(2);
    margin-bottom: govuk-spacing(8);
  }
}

.accounts-summary-list {
  margin-bottom: govuk-spacing(7);

  .govuk-summary-list {
    border-top: 1px solid $govuk-border-colour;

    @include govuk-media-query($until: "tablet") {
      padding-top: govuk-spacing(3);
    }
  }

  &.accounts-summary-list--paginated {
    margin-bottom: 0;

    .govuk-summary-list__row:last-of-type {
      border-bottom: 0;
    }

    .govuk-summary-list__row:last-of-type .govuk-summary-list__key,
    .govuk-summary-list__row:last-of-type .govuk-summary-list__value {
      border-bottom: 0;
    }
  }
}

.govuk-show-password__input-wrapper {
  display: table; // IE fallback
  display: flex;
  width: 100%;
  flex-direction: column;

  @include govuk-media-query($from: mobile) {
    flex-direction: row;
  }

  .govuk-input--with-password {
    display: table-cell;

    &:focus {
      z-index: 1;
    }

    &::-ms-reveal {
      display: none;
    }
  }
}

.govuk-show-password__toggle {
  @include govuk-font(19);
  z-index: 0;
  display: table-cell; // IE fallback
  padding: govuk-spacing(1) govuk-spacing(3);
  min-width: 5.5em; // stops the button width jumping when the text changes
  color: $govuk-link-colour;
  text-decoration: underline;
  background: govuk-colour("white");
  border: solid 2px $govuk-input-border-colour;
  white-space: nowrap;
  cursor: pointer;

  @include govuk-media-query($until: mobile) {
    padding: govuk-spacing(1);
    width: 100%;
    margin-top: -2px;
    white-space: normal;
  }

  @include govuk-media-query($from: mobile) {
    margin-left: -2px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &:hover {
    color: $govuk-link-hover-colour;
    @include govuk-link-hover-decoration;
  }

  &:focus {
    z-index: 1;
    background: $govuk-focus-colour;
    color: $govuk-focus-text-colour;
    outline: 0;
  }

  &:active {
    z-index: 1;
    background: govuk-colour("white");
    border-color: $govuk-focus-colour;
    color: $govuk-link-active-colour;
  }
}

.govuk-input--disabled {
  background-color: govuk-colour("light-grey", $legacy: "grey-3");
}

.account-navigation {
  background-color: govuk-colour("light-grey");
  border-bottom: 1px solid $govuk-border-colour;
  // this is a hack and not very nice
  // the DS header comes with a non-optional border on the bottom, annoyingly 
  margin-top: -(govuk-spacing(2));
  position: relative;
}

.account-navigation__list {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.account-navigation__list-item {
  display: inline-block;
  margin: 0 govuk-spacing(4) 0 0;

  @include govuk-media-query($from: tablet) {
    margin: 0 govuk-spacing(6) 0 0;
  }
}

.account-navigation__link {
  @extend .govuk-link;
  display: inline-block;
  font-weight: bold;
  padding: govuk-spacing(3) 0;
  
  &:not(:hover) {
    text-decoration: none;
  }

  &:visited {
    color: $govuk-link-colour;
    
    &:hover {
      color: $govuk-link-hover-colour;
    }

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }

  .account-navigation__list-item--active & {
    padding: govuk-spacing(3) 0 govuk-spacing(2);
    border-bottom: 5px solid;
    border-color: govuk-colour("blue");

    &:focus {
      border-bottom: none;
      padding: govuk-spacing(3) 0;
    }

    &:hover {
      border-color: $govuk-link-hover-colour;
    }
  }
}

// start x service header
// this is a combination of custom CSS and styles copied over from the header component in the Design System 
.x-service-header {
  @include govuk-font($size: 16);
  color: govuk-colour("white");
  background: govuk-colour("black");
}

.x-service-header__container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.x-service-header__logo {
  min-width: max-content;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  max-width: 33.33%;
  @include govuk-media-query ($from: desktop) {
    width: 33.33%;
    padding-right: govuk-spacing(3);
  }
}

$govuk-header-link-underline-thickness: 3px;

.x-service-header__link:link, .x-service-header__link:visited {
  @include govuk-typography-common;
  @include govuk-link-style-inverse;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: $govuk-header-link-underline-thickness;

    @if $govuk-link-underline-offset {
      text-underline-offset: $govuk-link-underline-offset;
    }
  }

  &:focus {
    @include govuk-focused-text;
  }
}

.x-service-header__logotype {
  display: inline-block;

  // Add a gap after the logo in case it's followed by a product name. This
  // gets removed later if the logotype is a :last-child.
  margin-right: govuk-spacing(1);

  // Prevent readability backplate from obscuring underline in Windows High
  // Contrast Mode
  @media (forced-colors: active) {
    forced-color-adjust: none;
    color: linktext;
  }

  // Remove the gap after the logo if there's no product name to keep hover
  // and focus states neat
  &:last-child {
    margin-right: 0;
  }
}

.x-service-header__logotype-crown {
  position: relative;
  top: -1px;
  margin-right: 1px;
  fill: currentcolor;
  vertical-align: top;
}

.x-service-header__logotype-crown-fallback-image {
  width: 36px;
  height: 32px;
  border: 0;
  vertical-align: bottom;
}

.x-service-header__link--homepage {
  // Font size needs to be set on the link so that the box sizing is correct
  // in Firefox
  @include govuk-font($size: false, $weight: bold);

  display: inline-block;
  margin-right: govuk-spacing(2);
  font-size: 30px; // We don't have a mixin that produces 30px font size
  line-height: 1;

  @include govuk-media-query($from: tablet) {
    display: inline;

    &:focus {
      // Replicate the focus box shadow but without the -2px y-offset of the first yellow shadow
      // This is to stop the logo getting cut off by the box shadow when focused on above a product name
      box-shadow: 0 0 $govuk-focus-colour;
    }
  }

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:active {
    // Negate the added border
    margin-bottom: $govuk-header-link-underline-thickness * -1;
    // Omitting colour will use default value of currentColor – if we
    // specified currentColor explicitly IE8 would ignore this rule.
    border-bottom: $govuk-header-link-underline-thickness solid;
  }

  // Remove any borders that show when focused and hovered.
  &:focus {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.x-service-header__content {
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);

  @include govuk-media-query ($from: desktop) {
    width: 66.66%;
    padding-left: govuk-spacing(3);
    padding-right: govuk-spacing(3);
  }
}

.x-service-header__service-name {
  @include govuk-font($size: 24, $weight: bold);
}

.x-service-header__content--visible-mobile {
  display: none;
  @include govuk-media-query ($until: tablet) {
    display: block;
  }
}

.x-service-header__content--hidden-mobile {
  display: block;
  @include govuk-media-query ($until: tablet) {
    display: none;
  }
}

.x-service-nav__button {
  position: relative;
  @include govuk-font($size: 16, $weight: bold);
  min-width: max-content;
  border: 0;
  margin: 0;
  background: none;
  color: govuk-colour("white");
  padding: govuk-spacing(3) govuk-spacing(4);

  @include govuk-media-query ($from: tablet) {
    display: flex;
    align-items: flex-start;
  }

  &:focus {
    @include govuk-focused-text;
  }

  &.x-service-nav__button--open {
    color: govuk-colour("blue");
    background-color: govuk-colour("light-grey");

    &:focus {
      @include govuk-focused-text;
    }

    @include govuk-media-query($from: tablet) {
      &:after {
        content: "";
        position: absolute;
        height: 5px;
        background-color: govuk-colour("blue");
        width: 100%;
        width: calc(100% - 40px);
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }

      &:focus:after {
        content: none;
      }
    }
  }

}

.x-service-nav__button-content {
  .x-service-nav__button-content--hidden-mobile {
    display: inline;

    @include govuk-media-query ($until: tablet) {
      display: none;
    }
  }

  &:before {
    content: "";
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 0.75rem;
    height: 0.75rem;
    transform: rotate(135deg);
    border-top: 0.15rem solid;
    border-right: 0.15rem solid;
    margin-right: govuk-spacing(2);
    margin-bottom: 0.2rem;

    .x-service-nav__button--open & {
      transform: rotate(-45deg);
      margin-bottom: -0.3rem;
    }
  }
}

.x-service-nav {
  display: none;
  overflow: hidden;
  background: govuk-colour("light-grey");
  border-bottom: 1px solid $govuk-border-colour;

  &.x-service-nav--open {
    display: block;
  }
}

.x-service-nav__list { 
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;

  @include govuk-media-query ($until: tablet) {
    flex-flow: column;
  }
}

.x-service-nav__list-container {
  @include govuk-media-query ($until: tablet) {
    margin-left: 0;
    margin-right: 0;
  }
}

.x-service-nav__list-item {
  width: 210px;
  padding: govuk-spacing(6) 0;

  @include govuk-media-query ($until: tablet) {
    border-bottom: 1px solid $govuk-border-colour;
    padding: govuk-spacing(4) govuk-spacing(3);
    width: 100%;
  }
}

.x-service-nav__link {
  @extend %govuk-link;
  @include govuk-font($size: 19, $weight: bold);

  @include govuk-media-query ($until: tablet) {
    @include govuk-font($size: 24, $weight: bold);
  }
}