{% extends "common/layout/base-page.njk" %}
{% from "common/show-password/macro.njk" import govukInputWithShowPassword %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "common/scripts/taxonomy.njk" import taxonomyLevel2 %}
{% set taxonomy =  "undefined" %}

{% if requestType == 'changePassword' %}
    {% set taxonomy =  "password" %}
{% elif requestType == 'changeEmail' %}
    {% set taxonomy =  "email" %}
{% elif requestType == 'changePhoneNumber' %}
    {% set taxonomy =  "phone no" %}
{% elif requestType == 'deleteAccount' %}
    {% set taxonomy =  "delete account" %}
{% endif %}


{% if requestType == 'changePassword' %}
    {% set pageTitleName = 'pages.enterPassword.changePassword.title' | translate %}
{%  else %}
    {% set pageTitleName = 'pages.enterPassword.title' | translate %}
{% endif %}

{% set backLink = "/manage-your-account" %}

{% block pageContent %}
{% include "common/errors/errorSummary.njk" %}

{% if requestType == 'changeEmail' %}
    {% include 'enter-password/_change-email.njk' %}
{% endif %}

{% if requestType == 'changePassword' %}
    {% include 'enter-password/_change-password.njk' %}
{% endif %}

{% if requestType == 'changePhoneNumber' %}
    {% include 'enter-password/_change-phone-number.njk' %}
{% endif %}

{% if requestType == 'deleteAccount' %}
    {% include 'enter-password/_delete-account.njk' %}
{% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/public/scripts/showPassword.js"></script>
{% endblock %}

{% block bodyEnd %}
  {{ taxonomyLevel2(taxonomy, scriptNonce) }}
  {{ super() }}
{% endblock %}